:root{
    --secondary: rgba(116, 45, 230, 0.700);
    --tertiary: rgba(255, 255, 255, 0.700);
    --border:var(--primary);
    --color: white;
    --color-2:var(--secondary);
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background:url(assets/background.jpg);
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--secondary);
    margin-bottom: 4px;
}

button {
    background: var(--secondary);
    color: var(--color);
    padding: 10px 20px;
    border: 1px solid var(--secondary);
    font-weight: bold;
    backdrop-filter: blur(5px);
}

#delete-btn{
    background: var(--color);
    color:var(--color-2);
}

ul {
    padding-left: 0px;
}
li {   
    list-style-type:none;
}

li a {
    color: var(--color-2);
    
}